.adminsetting_header{
    /* border: 1px solid blue; */
    padding-top: 20px;
    padding-left: 100px;
    position: relative;
}
.adminsetting_infotitle{
    margin-top:15px;
    margin-left: 20px;
    font-size: 20px;
}
.adminsetting_content{
    /* border: 1px solid red; */
    margin-top: 30px;
    padding-left: 100px;
}
.backbtn{
    width: 100px;
    background-color: #ef233c;
    font-size: 15px;
    padding: 8px;
    color: white;
    border-radius: 10px;
    margin-top: 30px;
}
.logout_btn_settingheader{
    position: absolute;
    bottom: 0;
    left: 490px;
    width: 100px;
    background-color: #ef233c;
    font-size: 15px;
    padding: 5px;
    color: white;
    border-radius: 10px;
    margin-top: 10px;
}
.accountlist{
    /* border: 1px solid orange; */
    margin-top: 10px;
    padding-left: 20px;
    margin-bottom: 50px;
}
.accepttitle, .deletetitle{
    font-size: 23px;
}
.accept_account{
    display: flex;
    gap: 10px;
    align-items: center;
    /* border: 1px solid green; */
    margin-bottom: 10px;
}
.acceptbtn{
    background-color: #ef233c;
    width: 50px;
    padding: 3px 0;
    border-radius: 5px;
    color: white;
}
.rejectbtn{
    background-color: #8d99ae;
    width: 50px;
    padding: 3px 0;
    border-radius: 5px;
    color: white;
    margin-left: 5px;
}
.adminaccountlist{
    /* border: 1px solid orange; */
    margin-top: 10px;
    padding-left: 20px;
}
.adminaccount{
    
    display: flex;
    gap: 10px;
    align-items: center;
    margin-bottom: 15px;
}
.deletebtn{
    font-size: 20px;
}
/* 반응형 웹 */
@media (min-width:768px) and (max-width:1024px){
    .adminsetting_header{
        padding-top: 130px;  
    } 
 
}
@media (max-width:767px){
    .adminsetting_header{
        margin-top: 80px;
        padding-top: 20px;
        padding-left: 40px;
    }
    .adminsetting_title{
        font-size: 20px;
        margin-bottom: 10px;
    }
    .adminsetting_infotitle{
        font-size: 14px;
        margin-left: 0;
        margin-top: 5px;
    }
    .logout_btn_settingheader{
        position: absolute;
        left: 300px;
        width: 80px;
        background-color: #ef233c;
        font-size: 12px;
    }
    .adminsetting_content{
        margin-top: 30px;
        padding-left: 30px;
    }
    .accepttitle, .deletetitle{
        font-size: 18px;
    }
    .backbtn{
        width: 100px;
        background-color: #8d99ae;
        font-size: 15px;
        padding: 8px;
        color: white;
        border-radius: 10px;
        margin-top: 30px;
        margin-left: 100px;
    }
}