.notice_header, .notice_detail_header, .notice_delete_header{
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-left: 100px;
}
.notice_header_title, .notice_detail_title, .notice_delete_title{
    font-size: 40px;
    margin-right: 20px;
}
.notice_list{
    border-top: 3px solid #2b2d42;
    padding-top: 10px;
    margin: 50px 100px 100px 100px;
}
.notice_list_header{
    display: flex;
    border-bottom: 1px solid #8d99ae;
    padding-bottom: 10px;
    margin-bottom: 10px;
    justify-content: space-around;
    font-weight: 600;

}
.notice_list_etc{
    display: flex;
    width: 1200px;
    justify-content: space-around;
}


.a_notice{
    border-bottom: 1px solid #8d99ae;
    display: flex;
    font-size: 20px;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.content_number{
    margin-left: 80px;
}
.content_title{
    width: 800px;
    margin-left: 130px;
}
.content_date{
    margin-left: 65px;
}

.content_title_modify{
    width: 800px;
    margin-left: 130px;
    display: flex;
  /*   border: 1px solid red; */
}
.notice_title_modify{
   /*  border: 1px solid blue; */
    width: 500px;
}
.content_title_modify_list{
    display: flex;
    /* border: 1px solid red; */
    width: 60px;
    justify-content: space-between;
}
.notice_header_login{
    font-size: 40px;
}
/* notice detail */
.notice_detail_content{
    /* border: 1px solid red; */
    margin: 50px 100px 100px 100px;
}
.notice_detail_content_title{
    text-align: center;
    color: #2b2d42;
}
.notice_detail_content_date{
    text-align: center;
    color: #2b2d42;
    font-weight: 600;
    margin-top: 10px;
}
.custom_content{
   border-top: 1px solid #8d99ae;
   border-bottom: 1px solid #8d99ae;
   margin: 30px 0 ;
   padding: 20px 0 ;
}
.notice_btn_list{
    display: flex;
    margin-top: 20px;
    justify-content: center;
    gap: 20px;
}
.noticelistbtn{
    display: block;
    background-color: #ef233c;
    width: 100px;
    height: 40px;
    color: white;
    border-radius: 5px;
    font-weight: 600;
    font-size: 15px;
    margin: 10px auto;
}
.cancle_notice_btn{
    background-color: #8d99ae;
    width: 100px;
    height: 40px;
    color: white;
    border-radius: 5px;
    font-weight: 600;
    font-size: 15px;
}
.delete_notice_btn{
    background-color: #ef233c;
    width: 100px;
    height: 40px;
    color: white;
    border-radius: 5px;
    font-weight: 600;
    font-size: 15px;
}
.delete_msg{
    text-align: center;
    font-size: 20px;
    font-weight: 600;
}

/* 반응형 웹*/
@media (min-width:768px) and (max-width:1024px){
    .notice_header,  .notice_delete_header{
        margin-top: 120px;
        margin-right: 100px;
    }
    .notice_detail_title{
        text-align: center;
        margin: 0 auto;
    }
    .notice_list{
        margin: 30px 100px 100px 100px;
    }
    .notice_list_number{
        display: block;
        width: 80px;
        margin-left: 40px;
    }
    .notice_list_header{
        display: flex;
        border-bottom: 1px solid #8d99ae;
        padding-bottom: 10px;
        margin-bottom: 10px;
        justify-content: space-around;
        font-weight: 600;
    }
    .content_number{
        margin-left: 47px;
    }
    .content_title{
        width: 260px;
        margin-left: 70px;
    }
    .content_date{
        margin-left: 0px;
    }
    .content_title_modify{
        width: 240px;
        margin-left: 70px;
        margin-right: 30px;
    }
    .notice_title_modify{
        width: 400px;
    }
    .content_title_modify_list{
        gap: 10px;
    }
}
@media (max-width:767px){
    .notice_header, .notice_delete_header{
        margin-top: 100px;
        margin-right: 100px;
        margin-bottom: 20px;
    }
    .notice_delete_title{
        font-size: 20px;
    }
    .delete_img{
        width: 90% !important;
    }
    .delete_msg{
        font-size: 18px;
    }
    .cancle_notice_btn{
        background-color: #8d99ae;
        width: 80px;
        height: 30px;
        color: white;
        font-size: 12px;
    }
    .delete_notice_btn{
        background-color: #ef233c;
        width: 80px;
        height: 30px;
        color: white;
        font-size: 12px;
    }
    .notice_list{
        max-width: 100%;
        border-top: 3px solid #2b2d42;
        padding-top: 10px;
        margin: 0px 10px;
    }
    .notice_list_number{
        display: block;
        width: 130px;
        margin-left: 20px;
        font-size: 16px;
    }
    .notice_list_header{
        display: flex;
        border-bottom: 1px solid #8d99ae;
        padding-bottom: 10px;
        margin-bottom: 10px;
        justify-content: space-around;
        font-weight: 600;
    }
    .content_number{
        margin-left: 28px;
        font-size: 16px;
        font-size: 14px;
    }
    .content_title{
        width: 180px;
        margin-left: 40px;
        font-size: 18px;
    }
    .content_date{
        margin-left: 20px;
        font-size: 14px;
    }
    .notice_detail_content{
        margin: 50px 20px 100px 20px;
    }
    .content_title_modify{
        width: 170px;
        margin-left: 30px;
        margin-right: 20px;
    }
    .notice_title_modify{
        width: 400px;
        font-size: 16px;
    }
    .content_title_modify_list{
        gap: 10px;
    }
}