#header{
    height: 150px;
    background-color: #EDF2F4;
    padding: 35px 150px;
}
.header_title{
    display: flex;
    align-items: center;
    justify-content: space-between; 
}
.title{
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}
.header_title_text{
    font-size: 50px;
}
.trainemoji{
    font-size: 70px;
   }
.header_function{
    display: flex;
    align-items: center;
    gap: 100px;
}
.header_search_part{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 442px;
    height: 70px;
    background-color: #d9d9d9;
    border-radius: 20px;
}
.header_search{
    width: 350px;
    height: 50px;
    background-color: #d9d9d9;
    border: none;
    border-radius: 20px;
    padding: 0 20px ;
    outline: none;
    font-size: 20px;
}
.header_search_btn{
    height: 45px;
}
@media (min-width:768px) and (max-width:1024px){
    #header{
        height: 90%;
        padding: 35px 100px;
    }
    
    .header_title_text{
        font-size: 40px;
    }
    .header_title{
        position: relative;
    }
    .trainemoji{
        font-size: 60px;
    }
    .mobile{
        position: absolute;
        top: 120px;
        left: 45px;
    }
    .header_function{
        display: flex;
        align-items: center;
        gap: 100px;
    }
    .header_search_part{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        max-width: 442px;
        height: 70px;
        background-color: #d9d9d9;
        border-radius: 20px;
    }
    .header_search{
        max-width: 350px;
        height: 50px;
        background-color: #d9d9d9;
        border: none;
        border-radius: 20px;
        padding: 0 20px ;
        outline: none;
        font-size: 20px;
    }
    .header_search_btn{
        height: 45px;
    }

} 

@media (max-width:767px){
    #header{
        width: 100%;
        height: 90px;
        padding: 5px 100px;
    }
   .header_title{
    width:100%;
    margin-top: 20px;
   }
   .header_title_text{
    font-size: 30px;
   }

   .header_function{
    width: 100%;
    gap: 20px;
   }

.header_search_btn{
    position: absolute;
    top: 14px;
    right:20px;
}
   .header_search_part{
    position: absolute;
    top: 100px;
    right: 15px;
    width: 90%;
}
   .trainemoji{
    font-size: 40px;
   }

.noticebtn{
    font-size: 30px;
    margin-right: 0;
}


}